[v-cloak] {
  display: none;
}

.pedigree-demo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 140px;
}

.d3kit-chart-root, .d3kit-plate {
  width: 100% !important;
  height: 100% !important;
}

.pedigree-demo main {
  position: absolute;
  left: 0;
  right: 350px;
  bottom: 36px;
  top: 0;
}

.pedigree-demo .demo-controls {
  position: absolute;
  left: 0;
  right: 350px;
  bottom: 0;
  height: 36px;
  padding: 15px;
  margin: 0;
  background: white;
}

.pedigree-demo aside {
  position: absolute;
  width: 350px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;
}

input[type=number] {
  width: 60px;
}

#patient-controls {
  border-top: 1px solid #dbdbdb;
  padding-top: 15px;
}

.context-menu {
  position: fixed;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 12px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.4);
}

.context-menu li {
  padding: 7px;
  cursor: pointer;
}

.context-menu li.disabled {
  color: #999;
  pointer-events: none;
}

.context-menu li.remove {
  color: red;
}

.context-menu li.section-top {
  border-top: 1px solid #f2f2f2;
}

.context-menu li:hover {
  font-weight: bold;
}

.patient-popup {
  position: fixed;
  width: 200px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.4);
}

.patient-popup h1 {
  font-size: 1.2em;
  text-decoration: underline;
}