<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Fluid Pedigree Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="pedigree.css" />
    <link rel="stylesheet" href="demo.css" />
</head>

<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">
                            ItRuns Fluid Pedigree
                        </p>
                        <p class="subtitle">
                            A pleasantly interactive pedigree widget
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="app" class="pedigree-demo" @contextmenu="context=null" @click="context=null" v-cloak>
        <main ref="chart" class="fluid-pedigree"></main>
        <div class="demo-controls control is-horizontal">
            <p class="control">
                <label class="checkbox">
                    <input id="forcelinks" type="checkbox" v-model="options.pedigree.showLinks">
                    Show Force Links
                </label>
            </p>
            <p class="control">
                <label class="checkbox">
                    <input id="soundEffects" type="checkbox" v-model="soundEffects">
                    Sound Effects
                </label>
            </p>
            <p class="control">
                <label class="checkbox">
                    <input id="autoZoomFit" type="checkbox" v-model="autoZoomFit">
                    Auto zoomFit
                </label>
            </p>
            <p></p>
    <!--
            <p class="control">
                Max Step: {{maxStep}}
                <a class="button is-small" @click="maxStep--">-</a>
                <a class="button is-small" @click="maxStep++">+</a>
            </p>
    -->
        </div>
        <aside>
            <h2 class="subtitle">Mess With It</h2>
            <div class="control is-horizontal">
                <p class="control">
                    <label class="checkbox">
                        <input id="randomizedProfiles" type="checkbox" v-model="randomizedProfiles">
                        Randomized Profiles
                    </label>
                </p>
            </div>
            <p class="control has-addons">
                <span class="select">
                    <select id="presets" v-model="preset">
                        <option value='samples/large.json'>Three-Generation Family</option>
                        <option value='samples/3-gen-single-children.json'>Three-Generation Single Children</option>
                        <option value='samples/nuclear.json'>Basic Nuclear Family</option>
                        <option value='samples/twins.json'>Are Twins Genetic?</option>
                        <option value='samples/large-parent-group.json'>Stepland</option>
                        <option value='samples/cousins.json'>Cousins</option>
                        <option value='samples/5-gen-family.json'>Five-Generation Family</option>
                    </select>
                </span>
                <a class="button is-primary" @click="loadPreset()">Reload</a>
            </p>
            <p class="control has-addons">
                <span class="select">
                    <select v-model="highlight">
                        <option value=''>No Filter</option>
                        <option value='males'>Males</option>
                        <option value='females'>Females</option>
                        <option value='children'>Children (age < 18)</option>
                        <option value='adults'>Adults (age >= 18)</option>
                    </select>
                </span>
                <a v-show="highlight" class="button is-primary" @click="highlight=''">Clear</a>
            </p>
            <form v-if="selected" id="patient-controls">
                <h2 class="subtitle">Selected Patient</h2>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Name</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="First Name" v-model.trim="selected.firstName" @keyup="commitAttribute('firstName')">
                        </p>
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Last Name" v-model.trim="selected.lastName"  @keyup="commitAttribute('lastName')">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Gender</label>
                    </div>
                    <div class="control is-grouped">
                        <label class="radio">
                            <input type="radio" name="gender" value="male" v-model="selected.gender" @click="commitAttribute('gender')">
                            Male
                        </label>
                        <label class="radio">
                            <input type="radio" name="gender" value="female" v-model="selected.gender" @click="commitAttribute('gender')">
                            Female
                        </label>
                        <label class="radio">
                            <input type="radio" name="gender" value="" v-model="selected.gender" @click="commitAttribute('')">
                            Unknown
                        </label>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Age</label>
                    </div>
                    <div class="control">
                        <input class="input" type="number" placeholder="Age" v-model="selected.age" @keyup="commitAttribute('age')" />
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Twin</label>
                    </div>
                    <div class="control">
                        <span class="select">
                            <select v-model="selected.twinId" @change="commitAttribute('twinId')">
                                <option :value='undefined'>Not a twin</option>
                                <option value='1'>Twin Set 1</option>
                                <option value='2'>Twin Set 2</option>
                                <option value='3'>Twin Set 3</option>
                                <option value='4'>Twin Set 4</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <label class="control">
                        <input type="checkbox" v-model="selected.deceased" @click="commitAttribute('deceased')" />
                        Deceased
                    </label>
                    <label class="control">
                        <input type="checkbox" v-model="selected.adopted" @click="commitAttribute('adopted')" />
                        Adopted
                    </label>
                </div>
            </form>
        </aside>

        <ul class="context-menu" ref="contextmenu" v-show="context">
            <template v-for="spouse in (context ? context.relations.spousal : [])">
                <li @click="addRelation(context, { type: 'child', gender: 'male', coparent: spouse })">
                    Add Son (w/ {{spouse.firstName || spouse.id }})
                </li>
                <li @click="addRelation(context, { type: 'child', gender: 'female', coparent: spouse })">
                    Add Daughter (w/ {{spouse.firstName || spouse.id }})
                </li>
            </template>
            <li @click="addRelation(context, { type: 'child', gender: 'male' })">
                Add Son (no coparent)
            </li>
            <li @click="addRelation(context, { type: 'child', gender: 'female' })">
                Add Daughter (no coparent)
            </li>
            <li :class="{ disabled: (!context || context.relations.spousal.length || context.gender !== 'female') }"
                @click="addRelation(context, { type: 'spousal', gender: 'male' })">
                Add Husband
            </li>
            <li :class="{ disabled: (!context || context.relations.spousal.length || context.gender !== 'male') }"
                @click="addRelation(context, { type: 'spousal', gender: 'female' })">
                Add Wife
            </li>
            <li :class="{ disabled: !context || context.relations.parent.find(p => p.gender === 'male') }"
                @click="addRelation(context, { type: 'parent', gender: 'male' })">
                Add Father
            </li>
            <li :class="{ disabled: !context || context.relations.parent.find(p => p.gender === 'female') }"
                @click="addRelation(context, { type: 'parent', gender: 'female' })">
                Add Mother
            </li>
            <li class="section-top remove" @click="removePatient(context)">Remove</li>
        </ul>

        <div class="patient-popup" ref="patientPopup" v-show="hovered">
            <h1>Patient Hover Example</h1>
            <strong>Patient ID:</strong> {{hovered && hovered.id}}<br/>
            <strong>Name:</strong> {{hovered && hovered.firstName}} {{hovered && hovered.lastName}}
        </div>

    </div>
<script>
    window.initials = function (...args) {
        return args
            .filter(s => s)
            .map(s => s.charAt(0))
            .map(s => s.toUpperCase())
            .join('')
    }
</script>

    <script type="text/template" id="patient-template">
        <use xlink:href="#patient-icon-<%= patient.gender || 'unknown' %>" class="<%= patient.gender || 'unknown' %> <%= entering ? 'scale-in' :'' %>" cx="0" cy="0" />

        <% if (patient.photo) { %>
            <image xlink:href="<%= patient.photo %>" x="-28" y="-28" height="56" width="56" class="<%= entering ? 'scale-in' :'' %>" clip-path="url(#<%= patient.gender || 'unknown' %>-photo-clip)" />
        <% } else { %>
            <text class="patient-initials" x="0" y="0"><%= initials(patient.firstName, patient.lastName) %></text>
        <% } %>
        <% if (patient.deceased) { %>
            <line class="patient-deceased <%= entering ? 'fade-in' :'' %>" x1="-35" x2="35" y1="35" y2="-35" />
        <% } %>
        <% if (patient.adopted) { %>
            <use xlink:href="#patient-icon-adopted" cx="0" cy="0" />
        <% } %>
        <text class="patient-label" x="0" y="46"><%= patient.age %><% if (patient.proband) { %> (You)<% } %></text>
    </script>

    <script type="text/template" id="family-vertex-template">
        <% if (v.family.collapsed) { %>
            <rect class="vertex-shape collapsed" x="-21" y="-21" width="42" height="42" transform="rotate(45)"/>
            <text class="vertex-text collapsed" x="0" y="0">
                <%= v.family.collapsed.length %>
            </text>
            <line class="vertex-icon" x1="-10" y1="0" x2="10" y2="0" />
            <line class="vertex-icon" x1="0" y1="-10" x2="0" y2="10" />
        <% } else { %>
            <rect class="vertex-shape expanded" x="-6" y="-6" width="12" height="12" transform="rotate(45)" />
            <line class="vertex-icon" x1="-4" y1="0" x2="4" y2="0" />
        <% } %>
    </script>

    <script type="text/template" id="pedigree-defs-template">
        <filter id='grayscale'>
            <feColorMatrix type='saturate' values='0' />
        </filter>
        <filter id="drop-shadow" height="120" width="120">
            <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"></feGaussianBlur>
            <feOffset in="blur" dx="3" dy="3" result="offsetBlur"></feOffset>
            <feFlood flood-color="rgba(0,0,0,0.4)"/>
            <feComposite in2="offsetBlur" operator="in"/>
            <feMerge>
                <feMergeNode></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode
            ></feMerge>
        </filter>
        <clipPath id="female-photo-clip">
            <ellipse cx="0" cy="0" ry="24" rx="24" />
        </clipPath>

        <clipPath id="male-photo-clip">
            <rect x="-24" y="-24" width="48" height="48" rx="4" ry="4" />
        </clipPath>

        <clipPath id="unknown-photo-clip">
            <rect x="-17" y="-17" width="34" height="34" rx="4" ry="4" transform="rotate(45)" />
        </clipPath>

        <ellipse id="patient-icon-female" cx="0" cy="0" ry="30" rx="30" filter="url(#drop-shadow)" />
        <rect id="patient-icon-male" x="-30" y="-30" width="60" height="60" rx="5" ry="5" filter="url(#drop-shadow)" />
        <rect id="patient-icon-unknown" x="-23" y="-23" width="46" height="46" rx="6" ry="6" transform="rotate(45)"  filter="url(#drop-shadow)" />

        <path id="patient-icon-adopted" class="patient-icon-adopted" d="M-30 -40 h-10 v80 h10 M30 -40 h10 v80 h-10"/>

        <rect id="patient-bounding-box" x="-60" y="-60" width="120" height="120" />
    </script>

    <script src="fluid-pedigree.js"></script>
    <script src="demo.js"></script>
</body>

</html>
