.fluid-pedigree {
    background-color: #f4f5f7;
    transition-duration: 1s;
}

.fluid-pedigree.highlighted {
    background-color: #c4c9d4;
}


.fluid-pedigree .shapes-layer {
    filter: drop-shadow( 3px 3px 2px rgba(0,0,0,.4) );
}

.fluid-pedigree-patient {
    cursor: pointer;
}

.fluid-pedigree-patient.filtered {
  filter: url(#grayscale)
}

@keyframes scaleIn {
    0% { opacity: 1; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fluid-pedigree-patient .scale-in {
    animation: .3s ease-out scaleIn;
    animation-fill-mode: forwards;
}

.fluid-pedigree-patient .fade-in {
    animation: .3s ease-in-out fadeIn;
    animation-fill-mode: forwards;
}

.fluid-pedigree-patient image.scale-in {
    opacity: 0;
    animation-delay: .3s;
}

.fluid-pedigree-patient .patient-deceased.fade-in {
    opacity: 0;
    animation-duration: 2s;
}

.fluid-pedigree-patient .patient-initials.fade-in {
    opacity: 0;
    animation-delay: .3s;
}


.fluid-pedigree-patient .male {
    fill: #39a3dd;
}

.fluid-pedigree-patient .female {
    fill: #e45255;
}

.fluid-pedigree-patient .unknown {
    fill: #5ad07c;
}

.fluid-pedigree-patient.selected .male,
.fluid-pedigree-patient.selected .female,
.fluid-pedigree-patient.selected .unknown,
.fluid-pedigree-patient:hover .male,  
.fluid-pedigree-patient:hover .female,
.fluid-pedigree-patient:hover .unknown {
    stroke: #ffdb3b;
    stroke-width: 4px;
}

.patient-icon-adopted {
    fill: none;
    stroke: #e1defb;
    stroke-width: 2px;
}
.fluid-pedigree-link {
    stroke: #0f0;
    stroke-width: 1px;
    stroke-opacity: 0.7;
}

.fluid-pedigree-family-edge {
    fill: none;
    stroke: #e1defb;
    /* stroke: #dcdcdc; */
    stroke-width: 1px;
    stroke-opacity: 1;
}

.fluid-pedigree-family-edge.adopted {
    stroke-dasharray: 8,8;
}

.vertex-shape {
    fill: #20d880;
    cursor: pointer;
}

.vertex-text {
    fill: white;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: central;
}

.vertex-icon {
    stroke: rgba(255,255,255,0.8);
    stroke-width: 2px;
    pointer-events: none;
    display: none;
}

.fluid-pedigree-family-vertex:hover .vertex-text {
    display: none;
}

.fluid-pedigree-family-vertex:hover .vertex-icon {
    display: inline;
}

.patient-initials {
    fill: #fff;
    font-family: Verdana;
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
}

.patient-label {
    fill: #384057;
    font-family: Verdana;
    font-size: 12px;
    text-anchor: middle;
    pointer-events: none;
}

.patient-deceased {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.fluid-pedigree-group {
    fill: none;
    stroke: orange;
}

.node-bounding-box {
    fill: rgba(255, 255, 96, 0.1);
    stroke: #ddb;
    stroke-width: .5px;

}